.centerBlock {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }


input, textarea {
    background: #171717;
    color: #ebdbb2;
    border-style: none;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 2px #83a598;
    width: 30%;
    margin: 20px;
    padding: 10px;
  }

#submitButton {
    margin-top: 40px;
}
@media (max-width: 950px) {
  #submitButton {
    width: 50%;
    font-size: 3vw;
  }
}
